@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfPro";
  src: url("/fonts/sf-pro-text-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SfPro";
  src: url("/fonts/sf-pro-text-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SfPro";
  src: url("/fonts/sf-pro-text-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SfPro Medium";
  src: url("/fonts/sf-pro-text-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-foreground: #000000;
  --color-background: #f5f5f5;
  --color-accent: #006de3;
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);

  --header-background: #fff;
  --header-foreground: var(--color-accent);

  --padding: 16px;

  --font-body: "SfPro", -apple-system, "Segoe UI", Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  --font-title: Helvetica Neue, -apple-system, "Segoe UI", "Helvetica", Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}
